header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}

body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url("/images/background.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}

header{
    height: 160px;
    background-image: url("/images/header.jpg"); 
}

.calculator_content{
    height: 600px;
    width: 400px;
    margin: 35px auto 35px auto;
    padding: 0;
    border: 5px solid #000000;
    background-color: #6b6a6a;
}

.about_content{
    background-color: #373833;
    text-align:justify;
    width: 939px;
    border-right: 1px solid #eeeeee;
}

div#calculator{
    text-align: center;
}

h1 {
    text-align: center;
    text-indent: px;
    padding-top:60px}

header h1 {    
    width: 940px;
    height: 70px;
    margin: 0px;
}

.wrapper{
    width: 940px;
    margin: 35px auto 35px auto;
    padding: 0;
    border: 5px solid #000000;
    background-color: #ffffff;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {    
    font-size: 1.2em;
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover, nav li a.current {
    color: #000000;
}

section.login {
    background-color: #373833;
    text-align: center;
    width: 939px;
    border-right: 1px solid #373833;
}


section.about {
    background-color: #373833;
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px 5px 20px 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #de6581;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input#logout[type=submit] {
    vertical-align: middle;
    font-size: 0.9em;
    background-color: rgb(83, 83, 83);
    color: white;
    display: inline;
    margin: -4px 10px 4px 10px;
    padding: 3px 3px 1px 3px;
}

input#logout[type=submit]:hover {
    background-color: #888888;
}

nav li#SignInSignUp {
 float: right;
}

nav li#logout1{
    float: right;
}

nav li#login{ 
    float: right;
}